<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ email() }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href ng-click="logout()">Logout</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-md-3">
  </div>

  <div class="col-md-6">

    <!-- Header -->
    <div class="row">
      <div class="col-xs-12">
        <h2>User Story</h2>
      </div>
    </div>

    <!-- Epic -->
    <div class="row">
      <div class="col-xs-12">
        <div class="input-group epic-input-group">
          <span class="input-group-addon" id="basic-addon1">Epic</span>
          <input type="text" class="form-control" placeholder="Enter the epic" ng-model="epic">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="input-group persona-group">

          <div class="dropdown">
            <span>As</span>

            <span class="persona-box" ng-repeat="persona in personas">
              <a href ng-click="removePersona(persona)"><span class="glyphicon glyphicon-remove"></span></a>
              <a class="persona-ref" href ng-click="showPersona(persona.id)">{{ persona.title }}</a>
            </span>

            <button class="btn btn-info btn-xs dropdown-toggle add-persona-button" type="button" data-toggle="dropdown">
              <span class="glyphicon glyphicon-plus"></span></button>
              <ul class="dropdown-menu">
                <li ng-repeat="persona in availablePersonas"><a href="" ng-click="addPersona(persona)">{{ persona.name }}</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <span>{{ personalPronoun() }} want</span>
          <textarea class="form-control drk-textarea" rows="2" id="comment" ng-model="goal"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <span>so that</span>
          <textarea class="form-control drk-textarea" rows="2" id="comment" ng-model="reason"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h4>Acceptance Criteria</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="ac in acceptanceCriteria">
              <span class="badge">
                <a href="" ng-click="removeAC(ac)">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              </span>
              {{ ac }}
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Add new acceptance criteria" ng-model="newAC">
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" ng-disabled="!isValidAC()" ng-click="addNewAC()">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
          </div>
        </div>
      </div>

      <!-- Time Tracking -->
      <div class="row">
        <div class="col-xs-12">
          <h4>Time Tracking</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="input-group epic-input-group">
            <span class="input-group-addon" id="basic-addon1">Intranet</span>
            <input type="text" class="form-control" placeholder="(Optional)" ng-model="intranet">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-group epic-input-group">
            <span class="input-group-addon" id="basic-addon1">Redmine</span>
            <input type="text" class="form-control" placeholder="(Optional)" ng-model="redmine">
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="row">
        <div class="col-xs-12 right action-buttons">

          <button class="btn btn-success" ng-click="save()" ng-disabled="!isValid()">
            <span class="glyphicon glyphicon-ok"></span> Save
          </button>
          <button class="btn btn-danger" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove"></span> Cancel
          </button>

        </div>
      </div>

    </div>

    <div class="col-md-3">
    </div>
  </div>


  <div id="show_persona_modal" class="modal fade noselect drk-modal" role="dialog">
    <div class="modal-dialog result-modal">

      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title">{{ personaToShow.name }}</h1>

        </div>
        <div class="modal-body">
          <div ng-bind-html="personaToShow.html | trust"></div>
        </div>
      </div>

    </div>
  </div>
