<div class="row taskrow-container">
  <div class="col-xs-11">
    <table>
      <tr>
        <td class="epic-cell">
          <span class="epic">{{ story.epic }}</span>
        </td>
        <td>
          <span class="text" ng-if="story.id != 'priority_line'">As
            <span ng-repeat="persona in story.personas" class="persona">
              <a href ng-click="showPersona(persona.id)"> {{ persona.title }}</a>,
            </span>
            {{ personalPronoun() }} want {{ story.goal }}
            <div ng-show="showEntireStory">
              <span>so that {{ story.goal }}</span>
              <div class="userstory-section-container">
                <span class="userstory-section">Acceptance Criteria</span>
                <ul>
                  <li ng-repeat="ac in story.acceptanceCriteria">{{ ac }}</li>
                </ul>
              </div>
              <a href ng-click="showEntireStory=false"><span>[hide details]</span></a>
            </div>
            <a href ng-click="showEntireStory=true" ng-show="!showEntireStory">[...]</a>
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-xs-1 right">
    <span class="estimate">{{ story.estimate }}</span>
  </div>
</div>
<div class="row">

  <!-- TO DO -->
  <div class="col-xs-3">

    <task scrum="scrum" story="story" task="task" ng-repeat="task in story.tasks.todo" task-status="todo" index="$index"></task>

    <div class="row">
      <div class="col-xs-12 add-task-button-container">
        <button class="btn btn-info" ng-click="createTask()" ng-disabled="addTask()">
          <span class="glyphicon glyphicon-edit"></span> Add Task
        </button>
      </div>
    </div>
  </div>

  <!-- In progress -->
  <div class="col-xs-3">
    <task scrum="scrum" story="story" task="task" ng-repeat="task in story.tasks.inProgress" task-status="inProgress" index="$index"></task>
  </div>

  <!-- Review -->
  <div class="col-xs-3">
    <task scrum="scrum" story="story" task="task" ng-repeat="task in story.tasks.review" task-status="review" index="$index"></task>
  </div>

  <!-- Done -->
  <div class="col-xs-3">
    <task scrum="scrum" story="story" task="task" ng-repeat="task in story.tasks.done" task-status="done" index="$index"></task>
  </div>

</div>
