<div class="row centered" ng-show="showPlacementMarkers">
  <div class="col-xs-12">
    <div class="btn-group insert-button-group">
      <button type="button" class="btn btn-warning btn-sm" ng-click="insertBefore()">
        <span class="glyphicon glyphicon-log-in"></span>
        <span>Insert Here</span>
      </button>
      <button type="button" class="btn btn-warning btn-sm" ng-click="cancelDragging()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
</div>
<div class="list-group">
  <div class="list-item not-interactable" ng-class="{ 'in-sprint-backlog': canRemoveFromBacklog(), 'valid-for-sprint-backlog': canAddToBacklog(), 'dragged-story': isBeingDragged }">
    <table style="width: 100%">
      <tr>
        <td>
          <span class="epciName">
            <span class="glyphicon glyphicon-tag"></span> {{ userstory.epic }}
          </span>
        </td>
        <td class="right">
          <div class="btn-group">
            <button type="button" class="btn story-actions btn-sm" ng-if="canAddToBacklog()" ng-click="addToSprintBacklog()"><span class="glyphicon glyphicon-ok-circle"></span></button>
            <button type="button" class="btn story-actions btn-sm" ng-if="canRemoveFromBacklog()" ng-click="removeFromSprintBacklog()"><span class="glyphicon glyphicon-ban-circle"></span></button>

            <!-- Dragging -->
            <button type="button" class="btn story-actions btn-sm" ng-click="startDragging()" ng-show="shouldShowStartDragging()"><span class="glyphicon glyphicon-random"></span></button>

            <!-- Up / Down voting -->
            <button type="button" class="btn story-actions btn-sm" ng-click="increase_priority()" ng-show="shouldShowVoteUp()"><span class="glyphicon glyphicon-chevron-up"></span></button>
            <button type="button" class="btn story-actions btn-sm" ng-click="decrease_priority()" ng-show="shouldShowVoteDown()"><span class="glyphicon glyphicon-chevron-down"></span></button>

            <!-- Actions -->
            <button type="button" class="btn story-actions btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-show="shouldShowActions()">
              <span class="glyphicon glyphicon-option-vertical"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ng-if="planning">
                <a href ng-click="resetEstimate()"><span class="glyphicon glyphicon-repeat"></span> Reset estimates</a>
              </li>
              <li>
                <a href ng-click="edit()"><span class="glyphicon glyphicon-wrench"></span> Edit</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href ng-click="deleteStory()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </table>

    <!-- Persona -->
    <div class="row" id="persona-row">
      <div class="col-xs-12">
        <span class="userstory-text">{{ getLanguage().as }}
          <span ng-repeat="persona in userstory.personas">
            <a href ng-click="showPersona(persona.id)"> {{ persona.title }}</a>,
          </span>
        </span>
      </div>
    </div>

    <!-- Goal -->
    <div class="row">
      <div class="col-xs-12">
        <span class="userstory-text">{{ personalPronoun_want() }} {{ userstory.goal }}</span>
      </div>
    </div>

    <!-- Reason -->
    <div class="row">
      <div class="col-xs-12">
        <span class="userstory-text">{{ getLanguage().so_that }} {{ userstory.reason }}.</span>
      </div>
    </div>

    <!-- ACC -->
    <div class="row">
      <div class="col-xs-12 userstory-section-container">
        <span class="userstory-section">Acceptance Criteria</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li ng-repeat="ac in userstory.acceptanceCriteria">
            <span class="userstory-text">{{ ac }}</span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Estimate -->
    <div class="row">
      <div class="col-xs-12 userstory-section-container">
        <span class="userstory-section">Estimate</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group estimate-box" role="group" aria-label="..." ng-if="showEstimatePanel()">
          <button type="button" class="btn btn-default estimate-button" ng-class="{ active: isMyEstimate(e) }" ng-repeat="e in ESTIMATES" ng-click="estimate(e)">{{ e }}</button>
        </div>

        <div class="" ng-if="!showEstimatePanel() && missingEstimatesCount() > 0">
          <span>{{ missingEstimatesCount() }} {{ missingEstimatesCount() > 1 ? "persons" : "person" }} pending</span>
        </div>

        <div class="" ng-if="!showEstimatePanel() && missingEstimatesCount() == 0">
          <div ng-if="!compliantEstimate()">
            <span ng-show="!isUnclear()">{{ minimumEstimate() }}</span>
            <span ng-show="!isUnclear()"> - </span>
            <span>{{ isUnclear() ? '?' : maximumEstimate() }}</span>
            <span> ({{ myEstimate() }})</span>
          </div>
          <div ng-if="compliantEstimate()">
            <span>{{ minimumEstimate() }}</span>
            <span> spts</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
