<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">

    <!-- Header -->
    <div class="row">
      <div class="col-xs-8">
        <h2>Backlog</h2>
      </div>
      <div class="col-xs-4 right">
        <button type="button" class="btn btn-default" ng-click="createUserStory()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>

    <backlog-entry ng-repeat="story in scrum.backlog" userstory="story" scrum=scrum></backlog-entry>

  </div>
  <div class="col-md-3">
  </div>
</div>
