<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <!-- TODO: Fix in css -->
        <span style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;"> {{ scrum.name }}</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">

        <!-- Sprint Board -->
        <li class="menu-item" ng-class="{ active: view == SPRINT_BOARD }" ng-show="hasActiveSprint()">
          <a href ng-click="view = SPRINT_BOARD"><span class="glyphicon glyphicon-blackboard"></span> Sprint Board</a>
        </li>

        <!-- Retrospective -->
        <li class="menu-item" ng-class="{ active: view == RETROSPECTIVE }" ng-show="hasActiveSprint() || hasEndedSprint()">
          <a href ng-click="view = RETROSPECTIVE"><span class="glyphicon glyphicon-comment"></span> Retrospective</a>
        </li>

        <!-- Burndown -->
        <li class="menu-item" ng-class="{ active: view == BURNDOWN }" ng-show="hasActiveSprint()">
          <a href ng-click="view = BURNDOWN"><span class="glyphicon glyphicon-stats"></span> Burndown</a>
        </li>

        <!-- Plan Sprint -->
        <li class="menu-item" ng-class="{ active: view == SPRINT_PLANNING }" ng-show="hasNoSprint()">
          <a href ng-click="view = SPRINT_PLANNING"><span class="glyphicon glyphicon-repeat"></span> Plan Sprint</a>
        </li>

        <!-- Stop Sprint -->
        <li class="menu-item" ng-show="hasActiveSprint()">
          <a href ng-click="showEndSprint()"><span class="glyphicon glyphicon-stop"></span> End Sprint</a>
        </li>

        <!-- Retire Sprint -->
        <li class="menu-item" ng-show="hasEndedSprint()">
          <a href ng-click="showRetireSprint()"><span class="glyphicon glyphicon-inbox"></span> Retire Sprint</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <!-- Backlog -->
        <li class="menu-item" ng-class="{ active: view == BACKLOG }" ng-show="hasNoSprint() || hasActiveSprint()">
          <a href ng-click="view = BACKLOG"><span class="glyphicon glyphicon-th-list"></span> Backlog ({{ backlogSize() }})</a>
        </li>

        <!-- Personas -->
        <li class="menu-item" ng-class="{ active: view == PERSONAS }" ng-show="!hasEndedSprint()">
          <a href ng-click="view = PERSONAS"><span class="glyphicon glyphicon-user"></span> Personas</a>
        </li>

        <!-- History -->
        <li class="menu-item" ng-class="{ active: view == HISTORY }" ng-show="!hasEndedSprint()">
          <a href ng-click="view = HISTORY"><span class="glyphicon glyphicon-folder-open"></span> History</a>
        </li>

        <!-- Logout -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ email() }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href ng-click="logout()">Logout</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div ng-if="scrum">

  <!-- Sprint Planning -->
  <planning ng-if="view == SPRINT_PLANNING" scrum="scrum"></planning>

  <!-- Sprint Board -->
  <taskboard ng-if="view == SPRINT_BOARD" scrum="scrum" create-task-call="createTask"></taskboard>

  <!-- Retrospective -->
  <retrospective ng-if="view == RETROSPECTIVE" scrum="scrum"></retrospective>

  <!-- Burndown -->
  <burndown ng-if="view == BURNDOWN" scrum="scrum"></burndown>

  <!-- Backlog -->
  <backlog ng-if="view == BACKLOG" scrum="scrum"></backlog>

  <!-- Personas -->
  <personas ng-if="view == PERSONAS" scrum="scrum"></personas>

  <!-- History -->
  <div class="" ng-if="view == HISTORY">
    <h3>History</h3>
  </div>

</div>

<div id="end_sprint_modal" class="modal fade noselect drk-modal" role="dialog">
  <div class="modal-dialog result-modal">

    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">End Sprint</h4>

      </div>
      <div class="modal-body">
        <div ng-if="undoneStories.length > 0">
          <label>Open Stories</label>
          <p>The following stories are not completely done. Which stories shall be put back to the product backlog?</p>

          <ul class="list-group">
            <li class="list-group-item" ng-repeat="undone in undoneStories">
              <input type="checkbox" ng-model="undone.putBack">
              <span>As <span ng-repeat="persona in undone.story.personas"> {{ persona.title }}</span> {{ undone.story.personas.length > 1 ? 'we' : 'I' }} want {{ undone.story.goal }}</span>
            </li>
          </ul>

        </div>
        <div ng-if="undoneStories.length == 0">
          <label>Well done!</label>
          <p>All stories are done! Do you want to end the current sprint?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
        <button class="btn btn-danger" data-dismiss="modal" ng-click="endSprint()">
          <span class="glyphicon glyphicon-ok"></span> End
        </button>
      </div>
    </div>

  </div>
</div>

<div id="retire_sprint_modal" class="modal fade noselect drk-modal" role="dialog">
  <div class="modal-dialog result-modal">

    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Retire Sprint</h4>

      </div>
      <div class="modal-body">
        <p>Do you want to retire the current sprint?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
        <button class="btn btn-danger" data-dismiss="modal" ng-click="retireSprint()">
          <span class="glyphicon glyphicon-ok"></span> Retire
        </button>
      </div>
    </div>

  </div>
</div>

<div id="createTaskModal" class="modal fade noselect drk-modal" role="dialog">
  <div class="modal-dialog result-modal">

    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Task</h4>

      </div>
      <div class="modal-body">
        <label>Description</label>
        <textarea class="form-control drk-textarea" rows="2" ng-model="taskDescription"></textarea>

        <label>Difficulty</label>
        <div class="list-group">
          <a href ng-repeat="d in DIFFICULTIES"
            ng-click="setTaskDifficulty(d.number)"
            ng-class="{ 'list-group-item-selected': d.number == taskDifficulty }"
            class="list-group-item">{{ d.text }}</a>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" ng-click="saveTask()" ng-disabled="!isValidTask()">
          <span class="glyphicon glyphicon-ok"></span> Save
        </button>
        <button class="btn btn-danger" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
      </div>
    </div>

  </div>
</div>
