<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-remove"></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="menu-item">
          <span class="navbar-text control-label">
            <a href ng-click="undo()" ng-class="{ disabled: !canUndo() || isPerformingUndoRedoAction}"><span class="glyphicon glyphicon-arrow-left"></span></a>
            <a href ng-click="redo()" ng-class="{ disabled: !canRedo() || isPerformingUndoRedoAction}"><span class="glyphicon glyphicon-arrow-right"></span></a>
          </span>
        </li>

        <!-- Tint -->
        <li class="menu-item">
          <span class="navbar-text control-label">
            <span class="glyphicon glyphicon-tint"></span>
            <a ng-repeat="tint in tints"
              href
              ng-click="setLineColor(tint)"
              class="color"
              ng-style="{'background-color': tint}"
              ng-class="{ 'selected-color': strokeStyle == tint }"
              >&nbsp;
            </a>
          </span>
        </li>

        <!-- Line Width -->
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-text-height"></span>
            <span> {{ lineWidth }}px</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="width in lineWidths">
              <a href ng-click="setLineWidth(width)">{{width}}px</a>
            </li>
          </ul>
        </li>

        <!-- Line Cap -->
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-pencil"></span>
            <span>Cap: {{ lineCap.title }}</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="cap in lineCaps">
              <a href ng-click="setLineCap(cap)">{{cap.title}}</a>
            </li>
          </ul>
        </li>

        <!-- Line Join -->
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-pencil"></span>
            <span>Join: {{ lineJoin.title }}</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="join in lineJoins">
              <a href ng-click="setLineJoin(join)">{{join.title}}</a>
            </li>
          </ul>
        </li>

        <!-- Background Color (if owner) -->
        <li class="menu-item" ng-if="isOwner()">
          <span class="navbar-text control-label">
            <span class="glyphicon glyphicon-file"></span>
            <a ng-repeat="bgcolor in backgroundColors"
              href
              ng-click="changeBackgroundColor(bgcolor)"
              class="color"
              ng-style="{'background-color': bgcolor}"
              ng-class="{ 'selected-color': board.color == bgcolor }"
              >&nbsp;
            </a>
          </span>
        </li>

      </ul>
    </div>
  </div>
</nav>

<table>
  <tr>
    <td>
      <canvas
        class="board"
        id="board-canvas"
        width="{{ board.width || 0 }}"
        height="{{ board.height || 0 }}"
        ng-style="{'background-color': board.color}">
      </canvas>
    </td>
    <td>
      <a href ng-click="incrementWidth()" class="resizing"><span class="glyphicon glyphicon-chevron-right" ng-if="isOwner()"></span></a>
      <br />
      <a href ng-click="decremtenWidth()" class="resizing"><span class="glyphicon glyphicon-chevron-left" ng-if="isOwner()"></span></a>
    </td>
  </tr>
  <tr>
    <td class="centered">
      <a href ng-click="decrementHeight()" class="resizing"><span class="glyphicon glyphicon-chevron-up" ng-if="isOwner()"></span></a>
      <a href ng-click="incrementHeight()" class="resizing"><span class="glyphicon glyphicon-chevron-down" ng-if="isOwner()"></span></a>
    </td>
    <td></td>
  </tr>
</table>
