<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">

    <!-- Header -->
    <div class="row">
      <div class="col-xs-8">
        <h2>Sprint Planning</h2>
      </div>
      <div class="col-xs-4 right add-button-container">
        <button class="btn btn-info" ng-click="createUserStory()" ng-if="planningStarted()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>

    <div ng-if="!planningStarted()">
      <div class="row">
        <div class="col-xs-12">
          <h5>Timeline</h5>
        </div>
      </div>

      <!-- From / To -->
      <div class="row">

        <div class="col-xs-6">
          <div class="input-group">
            <span class="input-group-addon">From</span>
            <input type="date" class="form-control" placeholder="Sprint begins" ng-model="from">
          </div>
        </div>

        <div class="col-xs-6">
          <div class="input-group">
            <span class="input-group-addon">To</span>
            <input type="date" class="form-control" placeholder="Sprint ends" ng-model="to">
          </div>
        </div>
      </div>

      <!-- Header -->
      <div class="row">
        <div class="col-xs-12">
          <h5>Planning Participants</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div ng-repeat="p in allParticipants">
            <input type="checkbox" aria-label="..." ng-model="participatesInPlanning[p.id]">
            <span>{{ p.name }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 right action-buttons">
          <button class="btn btn-success" ng-click="startPlanning()" ng-disabled="!isValid()">
            <span class="glyphicon glyphicon-play"></span> Start Planning
          </button>
        </div>
      </div>

    </div>

    <div ng-if="planningStarted()">

      <div ng-if="isPartOfPlanning()">
        <backlog-entry ng-repeat="story in scrum.backlog" userstory="story" scrum="scrum" planning="true" details-state-locked="true" item-index="$index"></backlog-entry>

        <nav class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header">
                    <span class="navbar-brand">{{ sprintBacklogEstimate() }} spts</span>
                </div>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <p class="navbar-btn">
                      <a href ng-click="startSprint()" class="btn btn-success start-sprint-button" ng-disabled="!isValidSprint()">
                        <span class="glyphicon glyphicon-play"></span> Start Sprint
                      </a>
                    </p>
                  </li>
                  <li>
                    <p class="navbar-btn">
                      <a href ng-click="cancelSprintPlanning()" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span> Cancel Planning
                      </a>
                    </p>
                  </li>
                </ul>
            </div>
        </nav>
      </div>

      <div ng-if="!isPartOfPlanning()">
        <h3>You are not part of the planning</h3>
      </div>

    </div>

  </div>
  <div class="col-md-3">
  </div>
</div>
