<div class="list-group task-container">
  <div class="list-item not-interactable">
    <table style="width: 100%">
      <tr>
        <td>
          <span class="difficulty">{{ task.difficulty }}</span>
        </td>
        <td class="right">

          <div class="btn-group">
            <button type="button" class="btn task-actions btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-option-vertical"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Move task to</li>
              <li ng-if="taskStatus != 'todo'">
                <a href ng-click="moveTask('todo')"><span class="glyphicon glyphicon-share-alt"></span> TODO</a>
              </li>
              <li ng-if="taskStatus != 'inProgress'">
                <a href ng-click="moveTask('inProgress')"><span class="glyphicon glyphicon-share-alt"></span> In Progress</a>
              </li>
              <li ng-if="taskStatus != 'review'">
                <a href ng-click="moveTask('review')"><span class="glyphicon glyphicon-share-alt"></span> Review</a>
              </li>
              <li ng-if="taskStatus != 'done'">
                <a href ng-click="moveTask('done')"><span class="glyphicon glyphicon-share-alt"></span> Done</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href ng-click="removeTask()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
              </li>
            </ul>
          </div>

        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span class="task-text">{{ task.text }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="workers">
          <p ng-repeat="worker in task.workers">
            <a ng-href="mailto:{{worker}}" class="worker-name">{{ worker }}</a>
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>


<div id="timeTrackingModal" class="modal fade noselect drk-modal" role="dialog">
  <div class="modal-dialog result-modal">

    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Time Tracking</h4>

      </div>
      <div class="modal-body">
        <p>Please remember to write down the time you spent working on this task.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" ng-if="story.intranet" ng-click="openTimeTrackinIntranet()">
          <span class="glyphicon glyphicon-time"></span> Intranet
        </button>
        <button class="btn btn-info" data-dismiss="modal" ng-if="story.redmine" ng-click="openTimeTrackinRedmine()">
          <span class="glyphicon glyphicon-time"></span> Redmine
        </button>
      </div>
    </div>

  </div>
</div>
