<div class="list-group task-container">
  <div class="list-item not-interactable">
    <table style="width: 100%">
      <tr>
        <td>
          <span class="difficulty">{{ task.difficulty }}</span>
        </td>
        <td class="right">
          <div class="dropdown">
            <button class="btn btn-default btn-xs dropdown-toggle task-actions" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="glyphicon glyphicon-option-vertical"></span>
            </button>

            <ul class="dropdown-menu">
              <li class="dropdown-header">Move task to</li>
              <li ng-if="taskStatus != 'todo'">
                <a href ng-click="moveTask('todo')"><span class="glyphicon glyphicon-share-alt"></span> TODO</a>
              </li>
              <li ng-if="taskStatus != 'inProgress'">
                <a href ng-click="moveTask('inProgress')"><span class="glyphicon glyphicon-share-alt"></span> In Progress</a>
              </li>
              <li ng-if="taskStatus != 'review'">
                <a href ng-click="moveTask('review')"><span class="glyphicon glyphicon-share-alt"></span> Review</a>
              </li>
              <li ng-if="taskStatus != 'done'">
                <a href ng-click="moveTask('done')"><span class="glyphicon glyphicon-share-alt"></span> Done</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href ng-click="removeTask()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span class="task-text">{{ task.text }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="workers">
          <p ng-repeat="worker in task.workers">
            <a ng-href="mailto:{{worker}}" class="worker-name">{{ worker }}</a>
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>
